<div class="container row">
    <h1>Cart</h1>
</div>
<hr>
<br>
<div class="cart-body-container row">
    <div class="cart-product-container container row" *ngFor="let item of cartProducts; let i = index">
        <div class="col-md-5">
            <img [src]="item.img" class="custom-image-style">
        </div>
        <div class="cart-product-desc col-md-3 ">
            <div>
                <p>{{ item.title }}</p>
            </div>
            <div>
                <p><strong>{{ item.price * item.qt }}</strong></p>
            </div>
        </div>
        <div class="edit-cart-container col-md-2 ">
            <input type="number " class="form-control " (change)="updateTotal() " [(ngModel)]="item.qt ">
        </div>
        <div id="xbutton" class="col-md-2 ">
            <a class="text-danger " (click)="removeItem(i) "><strong>x</strong></a>
        </div>
    </div>
</div>

<div class="container row" *ngIf="!cartProducts || cartProducts.length === 0">
    <div class="col-md-4 offset-md-4">
        No Item In Cart
    </div>
</div>

<div class="bill-container">
    <div class="col-md-4 offset-md-2">
        <button class="btn btn-success btn-lg pull-left" (click)="payBill()">Pay Bill</button>
    </div>
    <div class="col-md-4">
        <span *ngIf="!cartProducts || cartProducts.length === 0"><strong>$0</strong></span>
        <span *ngIf="cartProducts && cartProducts.length > 0"><strong>${{bill}}</strong></span>
    </div>
</div>